.validation__box {
  background: #fcd5d6;
  /* border-radius: 10px; */
  padding: 20px 5px 20px 5px;
  width: 100%;
  margin-bottom: 20px;
}

.form {
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 0px;
}

.form__group {
  margin: 0px 15px 0px 15px;
}

.validation__list {
  margin: 0;
}

.form__container {
  transform: translateY(-50%);
  position: relative;
  top: 50vh;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #fceacd;
  overflow-x: hidden;
}

.submit__button {
  right: 0;
  text-align: right;
  background: black;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  border: none;
}

.submit__button:hover {
  background: rgb(29, 29, 29);
}

.validation-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  left: 0px;
}

.submit__button[disabled="disabled"],
.submit__button:disabled {
  background: rgb(29, 29, 29);
}

.title__text {
  padding-bottom: 30px;
  text-align: center;
  font-family: Dom Casual;
  color: #e4463d;
}
