.validation__box {
  background: #eeb83c;
  /* border-radius: 10px; */
  padding: 20px 5px 20px 5px;
  width: 100%;
  margin-bottom: 20px;
}

.form {
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 0px;
}

.form__group {
  margin: 0px 15px 0px 15px;
}

.validation__list {
  margin: 0;
}

.sign__up {
  transform: translateY(-50%);
  position: relative;
  top: 50vh;
}
.background {
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
  overflow-x: hidden;
}

.submit__button {
  right: 0;
  text-align: right;
  background: black;
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

.submit__button:hover {
  background: rgb(29, 29, 29);
}

.validation-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  left: 0px;
}
