.hover__container {
  position: absolute;
  width: 200px;
  height: 150px;
  top: -170px;
  left: 20px;
  pointer-events: none;
}

.overlay {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  /* right: 0; */
  /* transform-origin: left 0% 0px; */
}
