.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: black;
  z-index: 10000;
  font-family: "Larsseit";
  overflow: hidden;
}

.hover__position {
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 150px;
  /* height: auto; */
  z-index: 100;
  opacity: 0;
}

.hover__container {
  width: 0;
  height: 100%;
  background: #fcd5d6;
  overflow: hidden;
  transform-origin: right;
  padding: 10px;
}

.hover__content {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.select__div {
  position: absolute;
  background: green;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  transform-origin: right;
}

.select__div__background {
  position: relative;
  height: 100%;
  width: 100%;
  background: palevioletred;
  opacity: 0.5;
  z-index: 10;
}

.button {
  display: inline-block;
  width: 45%;
  height: 30px;
  background: #d45f61;
  cursor: pointer;
}

#edit__form__name {
  width: 100%;
}

#edit__form__description {
  width: 100%;
  height: 100px;
}

.x__icon {
  float: right;
  cursor: pointer;
  font-size: 40px;
  padding-right: 5px;
}
