.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: black;
  z-index: 10000;
  font-family: "Larsseit";
}

.hover__position {
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 150px;
  z-index: 1000;
  opacity: 0;
}

.hover__container {
  width: 0;
  height: 100%;
  /* background: #fceacd; */
  background: #f06e55;

  transform-origin: right;
}

.hover__content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.select__div {
  position: absolute;
  background: white;
  height: 100vh;
  width: 0vw;
  z-index: 1000;
  overflow-x: hidden;
}
